parameters:
    ignoreErrors:
        - '~^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\|Symfony\\Component\\Config\\Definition\\Builder\\ParentNodeDefinitionInterface::end\(\)\.$~'
    level: max
    paths:
        - bin/console
        - src
        - tests

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
